<h1>Listing Target Journals</h1>

<table id="master_data" class="table table-striped table-bordered dataTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>
  <tbody>

  <% @target_journals.each do |target_journal| %>
    <tr>
      <td><%= target_journal.name %></td>
      <td><%= link_to 'Edit', edit_target_journal_path(target_journal) %></td>
      <td><%= link_to 'Destroy', target_journal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br /><br /><br />
<div>
<%= link_to 'New Target journal', new_target_journal_path %>
</div>