<% title "New User" %>

<p>Already have an account? <%= link_to "Log in", new_user_session_path %>.</p>

<%= render 'form' %>

<p><%= link_to "Back to List", users_path if permitted_to? :index, :users %></p>
