@import "bootstrap";

/* mixins, variables, etc. */

/* HBSC colours  */
$primaryHbscGreyBlack: #222E3B;
$primaryHbscBlue: #00B5DD;
$hbscHighlight: #D2007A;
$hbscGreen: #97BF0D;
$hbscYellow: #F6A924;
$hbscPurple: #8685BB;
$hbscMidBlue: #98BBDB;
$hbscPaleBlue: #ccf2fa;
$darkenedPaleBlue: #bce0e7;

/* HBSC fonts */
$hbscFontFamily: Futura, Tahoma, Verdana, sans-serif;

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  font-family: $hbscFontFamily;  
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  /*text-align: center;*/
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* Pretty tables */

table.pretty {
  border-collapse: collapse;
}

.pretty td, .pretty th {
  padding: 4px 10px;
  border: solid 1px #AAA;
  display: table-cell;
  vertical-align: top;
}

.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url(/images/up_arrow.gif);
}

.pretty th .desc {
  background-image: url(/images/down_arrow.gif);
}

/* Boxes */ 

div.line_of_boxes {
        position:relative;
        padding-bottom: 10px;
        page-break-inside:avoid;
}

div.box_in_line {
        float: left;
        margin-left: 5px;
        padding: 5px;
        height: 100%;
}

div.box_in_line_content {
        border: 1px solid #ccc;
        padding: 5px;
        height: 100%;
}

div.box_bottom{
        clear:both;
}

/* Auto complete */

div.auto_complete {
  width: 350px;
  background: #fff;
}
div.auto_complete ul {
  border:1px solid #888;
  margin:0;
  padding:0;
  width:100%;
  list-style-type:none;
}
div.auto_complete ul li {
  margin:0;
  padding:3px;
}
div.auto_complete ul li.selected {
  background-color: #ffb;
}
div.auto_complete ul strong.highlight {
  color: #800; 
  margin:0;
  padding:0;
}

.child {
  padding-left:10px;
  padding-top:5px;
  padding-bottom:5px;
}

p.explanation {
    font-size: 0.8em;
    font-style: italic;
}

@media print {
    body {
        background-color: #FFF;
    }
    
    #container {
        width: auto;
        margin: 0;
        padding: 0;
        border: none;
    }

    #pdf_link {
        display: none;
    }

    div#nav {
        display: none;
    }
    
    #version_box {
        display: none;
    }

/*    div.line_of_boxes {
        page-break-before: always;
    }    
*/        
}

#version_box {
  width: 75%;
  background-color: #FFD700;
  border: solid 1px #B8860B;
  padding: 5px 8px;
  margin: 10px 0;  
}

#help_explanation_box {
  width: 75%;
  background-color: #DDD;
  border: solid 1px #AAA;
  padding: 5px 8px;
  margin-top:10px;
  margin-left:auto;
  margin-right:auto;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 10px;  
}

@media print {

    .no-print, .no-print * {
      display: none !important;
    }

    body {
        background-color: #F00;
    }
    
    #container {
        width: auto;
        margin: 0;
        padding: 0;
        border: none;
    }

    #pdf_link {
        display: none !important;
        background-color: red;
    }

    div#nav {
        display: none;
    }

    div#navbar {
      display: none;
    }

    footer { display:none; }
    
    #version_box {
        display: none;
    }

/*    div.line_of_boxes {
        page-break-before: always;
    }    
*/        
}

/* Datatable adjustment */
div.dataTables_filter label {
    float: right;
}
.pagination {
  font-size: small;  
}

div.dataTables_filter {
    float: right;
}

.collapse {
  overflow: visible;
}