<h1>Listing Variables</h1>

<table id="master_data" class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>
</thead><tbody>
<% @variables.each do |variable| %>
  <tr>
    <td><%= variable.name %></td>
    <td><%= link_to 'Edit', edit_variable_path(variable) %></td>
    <td><%= link_to 'Destroy', variable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Variable', new_variable_path %>
